.header {
  padding: 16px;
  display: flex;
  flex: 0;
}
.title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #f86600;
  line-height: normal;
  margin-bottom: 8px;
  text-decoration: none;
}
.desc p {
  font-size: 1rem;
  line-height: 1.5rem;
}
